.slider{
    position: relative;
    width: 500px;
    height: 300px;
    margin: auto;
    border: 1px solid #ccc;
    overflow: hidden;
}
.slider-content{
    position: absolute;
    width: 500%;
    left: 0;
    animation: slide 20s infinite;
}
.slider-content:hover{
    animation-play-state: paused;
}
.slider-item{
    width: 20%;
    float: left;
}

@keyframes slide{
    0% {
        transform: translateX(0px);
    }
    10% {
        transform: translateX(-500px);
    }
    20% {
        transform: translateX(-500px);
    }
    30% {
        transform: translateX(-1000px);
    }
    40% {
        transform: translateX(-1000px);
    }
    50% {
        transform: translateX(-1500px);
    }
    60% {
        transform: translateX(-1500px);
    }
    70% {
        transform: translateX(-2000px);
    }
    80% {
        transform: translateX(-2000px);
    }
    90% {
        transform: translateX(0px);
    }

}